### Data Structures:
        - List
        - Tuple 
        - Dictionary
        - Sets

### List:
        - It a collection different data items.
        - []

In [2]:
L1 = [10,20,"apssdc",23.56,78,"Python"]
print(L1)
print(type(L1))

[10, 20, 'apssdc', 23.56, 78, 'Python']
<class 'list'>

In [3]:
# using for loop
print(L1)
for i in L1:
    print(i)

[10, 20, 'apssdc', 23.56, 78, 'Python']
10
20
apssdc
23.56
78
Python

In [4]:
# length
print(L1)
print(len(L1))

[10, 20, 'apssdc', 23.56, 78, 'Python']
6

In [7]:
# indexing and slicing..
print(L1)
print(L1[3])
print(L1[::-1])

[10, 20, 'apssdc', 23.56, 78, 'Python']
23.56
['Python', 78, 23.56, 'apssdc', 20, 10]

In [9]:
# updating the value..
print(L1)
L1[1] = 200
print(L1)

[10, 200, 'apssdc', 23.56, 78, 'Python']
[10, 200, 'apssdc', 23.56, 78, 'Python']

In [10]:
L1[0]=34.6
print(L1)

[34.6, 200, 'apssdc', 23.56, 78, 'Python']

In [13]:
n = [10,20,30]
m = [11,22,33,44]
print(n+m)
print("first list: ",n)
print("Second lilst: ",m)

[10, 20, 30, 11, 22, 33, 44]
first list:  [10, 20, 30]
Second lilst:  [11, 22, 33, 44]

### LIst methods

In [14]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [15]:
# append() method.-> To add the single value.
L2 = [10,20,34,56,12,100]
L2.append(78)
print(L2)

[10, 20, 34, 56, 12, 100, 78]

In [16]:
L2.append('python')
print(L2)

[10, 20, 34, 56, 12, 100, 78, 'python']

In [18]:
# extend() method -> To add the multiple elements..
print(L2)
L2.extend([11,22,45,'java'])
print(L2)

[10, 20, 34, 56, 12, 100, 78, 'python']
[10, 20, 34, 56, 12, 100, 78, 'python', 11, 22, 45, 'java']

In [19]:
#insert() method..
print(L2)
L2.insert(1,200)
print(L2)

[10, 20, 34, 56, 12, 100, 78, 'python', 11, 22, 45, 'java']
[10, 200, 20, 34, 56, 12, 100, 78, 'python', 11, 22, 45, 'java']

In [20]:
# count() method
L3 = [10,20,10,20,10,30,20]
L3.count(10)

3

In [21]:
L3.count(34)

0

In [23]:
# index
print(L1)
L1.index(200)

[34.6, 200, 'apssdc', 23.56, 78, 'Python']

1

In [25]:
# copy() method..
print(L1)
a = L1.copy()
print(a)

[34.6, 200, 'apssdc', 23.56, 78, 'Python']
[34.6, 200, 'apssdc', 23.56, 78, 'Python']

In [29]:
# reverse() method
print(L1)
L1.reverse()

[34.6, 200, 'apssdc', 23.56, 78, 'Python']

In [30]:
print(L1)

['Python', 78, 23.56, 'apssdc', 200, 34.6]

In [31]:
# sort() method...
L3 = [45,10,23,11,76,14]
L3.sort()# Ascending order..
print(L3)

[10, 11, 14, 23, 45, 76]

In [32]:
L3.sort(reverse=True) # descending order
print(L3)

[76, 45, 23, 14, 11, 10]

In [34]:
k = L3.sort()
print(k)

None

In [35]:
L3.sort()

In [36]:
print(L3)

[10, 11, 14, 23, 45, 76]

In [37]:
print(type(L3))

<class 'list'>

In [39]:
#pop()
print(L3)
L3.pop()
print(L3)

[10, 11, 14, 23, 45, 76]
[10, 11, 14, 23, 45]

In [41]:
#pop(index_position)
print(L3)
L3.pop(1)
print(L3)

[10, 11, 14, 23, 45]
[10, 14, 23, 45]

In [42]:
L3.pop(6)

IndexError: pop index out of range

In [44]:
# remove(element_name)
print(L3)
L3.remove(23)
print(L3)

[10, 14, 23, 45]
[10, 14, 45]

In [45]:
L3.remove(100)
print(L3)

ValueError: list.remove(x): x not in list

In [47]:
# clear() method..
print(L3)
L3.clear()
print(L3)

[10, 14, 45]
[]

In [48]:
L3.append([1,24.0])
print(L3)

[[1, 24.0]]

In [49]:
L3.append(10,20,30)
print(L3)

TypeError: append() takes exactly one argument (3 given)

In [50]:
s1 = "python"
L3.append(s1)
print(L3)

[[1, 24.0], 'python']

In [52]:
L3.clear()
print(L3)
del L3

[]

In [53]:
print(L3)

NameError: name 'L3' is not defined

In [54]:
n = int(input())
m = []
for i in range(n):
    k = int(input())
    m.append(k)
m.sort(reverse=True)
print('Given numbers are: ',end=" ")
for j in m:
    print(j,end=" ")

5
6
7
5
4
1
Given numbers are:  7 6 5 4 1

### Tuple:
        - It can be represented as ()
        - It is immuteable [Cant changes]
        - It stores ordered data type elements
        - Slicing can be done because of index
        - Duplicate values can be accessed
        - It can be typcasted as "tuple()"

In [55]:
a = 10
b = 60
a,b

(10, 60)

In [57]:
y = (34,56.546,"tarun",'45',34)
print(y,type(y))

(34, 56.546, 'tarun', '45', 34) <class 'tuple'>

In [59]:
k = [45,78,'rajesh']
m = tuple(k)
print(m,type(m))
print(k,type(k))

(45, 78, 'rajesh') <class 'tuple'>
[45, 78, 'rajesh'] <class 'list'>

In [60]:
print(dir(tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [62]:
print(m)
print(m[2])

(45, 78, 'rajesh')
rajesh

In [63]:
for h in m:
    print(h,end=" ")

45 78 rajesh

In [66]:
u = (12,78,89,'rajesh',12,45,12)
print(u.count(12))
print(u.count(200))

3
0

In [72]:
print(u.index(78))

1

## Set:
    - To remove duplicate elements in a data strcuture
    - It doesnt follow ordered format data
    - Slicing cant be done because index is not possible
    - It can follows the data in ordered format and displays the data in kernel but not in print statement
    - It can be represented as "{}" but inside of set it should allow single value

In [76]:
y = {45,56,'45','ramesh','arun'}
print(y,type(y))
y

{'arun', '45', 45, 'ramesh', 56} <class 'set'>

{'45', 45, 56, 'arun', 'ramesh'}

In [74]:
s = {10,20,10,20,45,10}
print(s)

{10, 20, 45}

In [78]:
# using loop
for i in s:
    print(i,end=" ")

10 20 45

In [79]:
print(len(s))

3

In [80]:
for i in range(len(s)):
    print(s[i],end=" ")

TypeError: 'set' object is not subscriptable

### set methods

In [81]:
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [90]:
#print(s)
s1 = {100,200}
s.update(s1)
print(s)

{20, 100, 200, 10, 45}

In [91]:
L1 = [22,33,45]
s.update(L1)
print(s)

{33, 20, 100, 22, 200, 10, 45}

In [93]:
print(s)
s.add(120)
print(s)

{33, 20, 100, 22, 200, 10, 45}
{33, 20, 100, 22, 200, 10, 120, 45}

### Dictionary:
        - It is a collection keys and values..
        - It is represented as {}.
        -syntax: {keyname:value1,keyname2:value2...}
        - keynames are unique.
        - It is mutable..
        - To access the dictionary data only using keynames..
        - Collection of dirrefent data types..
        - does'nt update the keyname..

In [98]:
d1={'name':'aadyan','rollno':210,'branch':'civil',1:100,2:34.5,1:200}
print(d1)
print(type(d1))

{'name': 'aadyan', 'rollno': 210, 'branch': 'civil', 1: 200, 2: 34.5}
<class 'dict'>

In [97]:
f = {10}
print(f,type(f))

{10} <class 'set'>

In [102]:
print(d1)
for i in d1:
    print(i)# To get keynames

{'name': 'aadyan', 'rollno': 210, 'branch': 'civil', 1: 200, 2: 34.5}
aadyan
210
civil
200
34.5

In [103]:
print(d1)
for i in d1.keys():
    print(i)#

{'name': 'aadyan', 'rollno': 210, 'branch': 'civil', 1: 200, 2: 34.5}
name
rollno
branch
1
2

In [104]:
print(d1)
for i in d1.values():
    print(i)# TO get values..

{'name': 'aadyan', 'rollno': 210, 'branch': 'civil', 1: 200, 2: 34.5}
aadyan
210
civil
200
34.5

In [105]:
print(d1)
for i in d1.items():
    print(i)#

{'name': 'aadyan', 'rollno': 210, 'branch': 'civil', 1: 200, 2: 34.5}
('name', 'aadyan')
('rollno', 210)
('branch', 'civil')
(1, 200)
(2, 34.5)

In [107]:
# To access the dictionary values..
print(d1)
print(d1['name'])

{'name': 'aadyan', 'rollno': 210, 'branch': 'civil', 1: 200, 2: 34.5}
aadyan

In [109]:
print(d1)
d1['rollno'] = 310
print(d1)

{'name': 'aadyan', 'rollno': 210, 'branch': 'civil', 1: 200, 2: 34.5}
{'name': 'aadyan', 'rollno': 310, 'branch': 'civil', 1: 200, 2: 34.5}

In [110]:
d1['marks'] = 87
print(d1)

{'name': 'aadyan', 'rollno': 310, 'branch': 'civil', 1: 200, 2: 34.5, 'marks': 87}

In [115]:
d2 = {1:23,2:37,3:48,4:100,5:39,6:24}
#{3:48,4:100,6:24}
d3 ={}
for i,j in d2.items():
    if j%2==0:
        d3[i] = j
print(d3)

{3: 48, 4: 100, 6: 24}

In [121]:
s1 ="apssdc"
s1.capitalize()
print(s1)

apssdc

In [122]:
s1.upper()
print(s1)

apssdc

In [1]:
t = "welcome to python programming"
print(t.capitalize())

Welcome to python programming

In [2]:
t1 ="apssdc"
print(t1.upper())

APSSDC

In [4]:
t2 = "Apssdc"
print(t2.lower())

apssdc

In [6]:
print(t)
print(t.title())

welcome to python programming
Welcome To Python Programming

In [7]:
t2 = "PYThon"
print(t2.swapcase())

pytHON

In [12]:
n = "Rajesh"
print(n.startswith('r'))

False

In [11]:
print(n.endswith('h'))

True

In [13]:
# To convert string format of data to list format..
names = input("Enter names").split()
print(names)

Enter namesramu raju madhu nethra
['ramu', 'raju', 'madhu', 'nethra']