In [1]:
a = 10
a

10

In [2]:
print("Hello Everyone!..")

Hello Everyone!..

In [3]:
print("good"+"morning")

goodmorning

In [5]:
print("students",99)

students 99

### Python comments:
    - single line comments -> # symbal
    - Multi line comments  -> '''
                                    statement1
                                    statement2
                                    statement3 
                                    '''
                                    (or)
                                    """
                                        """

### Data types:
        - indentify the type of a variable.
        1)int -> It holds the integer values.
        2)str -> It holds the string values.
        3)float -> It holds the floating values.
    -> To know the data type 
    -> type(variable_name)

In [9]:
p = 233456789
print(p,type(p))

233456789 <class 'int'>

In [10]:
s = "python programming"
print(s,type(s))

python programming <class 'str'>

In [11]:
f1 = 567.89045
print(f1,type(f1))

567.89045 <class 'float'>

### Type conversions/casting:

        1)int()
              
        2)str()
        
        3)float()
        
        4) All data structures[list,tuple,dictionary,sets]

In [22]:
a = 10
print(type(a))
a = str(a)
print(a)
print(a,type(a))
print(type(a))

<class 'int'>
10
10 <class 'str'>
<class 'str'>

In [25]:
# integer to float conversion..
n = 45
print(type(n))
n = float(n)
print(type(n))
print(n)

<class 'int'>
<class 'float'>
45.0

In [28]:
# floating to integer conversion..
f = 45.67
print(type(f))
f = int(f)
print(type(f))
print(f)

<class 'float'>
<class 'int'>
45

In [30]:
# string to integer conversion..
s1 ="python"
print(type(s1))
s1 = int(s1)
print(type(s1))

<class 'str'>

ValueError: invalid literal for int() with base 10: 'python'

In [35]:
# string to integer conversion only string value as interger
s2 ="2345"
print(type(s2))
s2 = int(s2)
print(type(s2))
print(s2)

<class 'str'>
<class 'int'>
2345

```
Task:
    Input: 45 [Static Value]
    Output:
        Given number is 45
        Given number is 45 and the floating value is: 45.00
        Given number is 45 and its string value is: '45'
```

In [50]:
n = 45
print("Given number is",n)
print("Given number is",n,"and the floating value is:",float(n))
print("Given number is",n,"and the string value is:'"+str(n)+"'")

Given number is 45
Given number is 45 and the floating value is: 45.0
Given number is 45 and the string value is:'45'

### input formatting:
        1)static method
        2)dynamic method
        - we can read the input value from the keyboard we can use input()-> method.
        -> syntax: variable_name = input("message!..")
        -> by default the input method stores the string type of data.
        -> dynamic ways
                1)int(input())
                2)float(input())

In [52]:
# dynamic method to read the value..
n = input("Enter a value!..")
print(n,type(n))

Enter a value!..23
23 <class 'str'>

In [54]:
#static method..
m = 100
print(m)

100

In [55]:
a = input()
print(a)

23
23

In [56]:
# To read the integer values
n1 = int(input("Enter n1 value.."))
print(n1,type(n1))

Enter n1 value..100
100 <class 'int'>

In [1]:
# To read the string data..
s1 = input("Enter string")
print(s1,type(s1))

Enter string'121'
'121' <class 'str'>

### output format:
        - use coma(,)
        - use percentage(%)
        - use .format

In [29]:
a = int(input("Enter a value.."))
b = int(input("Enter b value.."))
print("Addition of",a,"and",b,"is",a+b)#using coma(,)
print("subtraction of %d and %d is %d"%(a,b,a-b))
print("Division of {} and {} is: {}".format(a,b,a/b))

Enter a value..23
Enter b value..45
Addition of 23 and 45 is 68
subtraction of 23 and 45 is -22
Division of 23 and 45 is: 0.5111111111111111

In [24]:
print(9/5)
print(9//5)#floor division
print(3**3)#power
#membership operators->[in,not in]
#Identity operators->[is,is not]

1.8
1
27

## Operators:
    - Arithmetic => +,-,*,/,%,//,**
    - Logical => AND,OR,NOT
    - Bitwise => &,|,~,>>,<<
    - Relational => ==,!=,>=,<=
    - Assignment => +=,-=,*=,%=,//=
    - Membership => in,not in
    - Identity => is,is not

## Variable:
    - To store a value
    - To change a value

### Conditional statements:
      - To check whether a given condition is either True or False
      - if => single case
      - if-else => two cases
      - nested if => 3 or more cases
      - elif => 3 or more n number of cases

## If

In [31]:
n = int(input("Enter a value!.."))
if n == 20:
    print("Given number is:{} is equal to 20".format(n))

Enter a value!..12

## if-else

In [ ]:
n = int(input("Enter a value!.."))
if n == 20:
    print("Given number is:{} is equal to 20".format(n))
else:
    print("Given number is: {} is not equal to 20".format(n))

In [34]:
# To check whether the given number is even number or not?
a = int(input("Enter a value!.."))
if a%2 == 0:
    print("{} is even number".format(a))
else:
    print("{} is not a even number".format(a))

Enter a value!..57
57 is not a even number

### elif:
    - syntax:
            if(condition-1):
                statement-1
            elif(condition-2):
                statement-2
                |         |
            elif(condition(n-1)):
                statement(n-1)
            else:
                statement-n

In [36]:
# To find the biggest of two numbers?
a = int(input("Enter a value"))
b = int(input("Enter b value"))
if a == b:
    print("Two numbers are equal!..")
elif a>b:
    print("{} is bigger than {}".format(a,b))
else:
    print("{} is bigger than {}".format(b,a))

Enter a value20
Enter b value30
30 is bigger than 20

### nested if statement:
    - syntax:
            if(base condition): true
                if condition1:
                    statement1
                 else:
                    statement2
            else:
                statement3

In [ ]:
# login page
u = "raju"